In [45]:
#Mounting google drive to access meetups dataset
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
import pandas as pd
members = pd.read_csv('/content/drive/My Drive/Marketing Analytics Project/members_new.csv',encoding='latin-1')
rsvp = pd.read_csv('/content/drive/My Drive/Marketing Analytics Project/rsvps_all_new.csv',encoding='latin-1')
events  = pd.read_csv('/content/drive/My Drive/Marketing Analytics Project/events_all_new.csv',encoding='latin-1')
groups = pd.read_csv('/content/drive/My Drive/Marketing Analytics Project/groups_austin.csv',encoding='latin-1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
members.columns.values

array(['Unnamed: 0', 'Unnamed: 0.1', 'bio', 'city', 'country', 'group_id',
       'hometown', 'id', 'joined', 'lang', 'lat', 'link', 'lon', 'name',
       'other_services.facebook.identifier',
       'other_services.flickr.identifier',
       'other_services.linkedin.identifier',
       'other_services.tumblr.identifier',
       'other_services.twitter.identifier', 'photo.base_url',
       'photo.highres_link', 'photo.photo_id', 'photo.photo_link',
       'photo.thumb_link', 'photo.type', 'state', 'status', 'topics',
       'visited'], dtype=object)

Members dataframe contains all details on each member:
1. Id
2. Joining date
3. Demographics: City, countrt, State
4. Social media details: Facebook, LinkedIn, Tumblr, Twitter

In [48]:
events.columns.values

array(['created', 'description', 'duration', 'event_url', 'fee.accepts',
       'fee.amount', 'fee.currency', 'fee.description', 'fee.label',
       'fee.required', 'group.created', 'group.group_lat',
       'group.group_lon', 'group.id', 'group.join_mode', 'group.name',
       'group.urlname', 'group.who', 'headcount', 'how_to_find_us', 'id',
       'maybe_rsvp_count', 'name', 'photo_url', 'rsvp_limit', 'status',
       'time', 'updated', 'utc_offset', 'venue.address_1',
       'venue.address_2', 'venue.city', 'venue.country', 'venue.id',
       'venue.lat', 'venue.localized_country_name', 'venue.lon',
       'venue.name', 'venue.phone', 'venue.repinned', 'venue.state',
       'venue.zip', 'visibility', 'waitlist_count', 'why',
       'yes_rsvp_count'], dtype=object)

Events dataframe contains all details on events:
1. Which group the event belongs to
2. Geographic details on event: Venue, city, country, zip code

In [49]:
groups.columns.values

array(['Unnamed: 0', 'category.id', 'category.name', 'category.shortname',
       'city', 'country', 'created', 'description',
       'group_photo.base_url', 'group_photo.highres_link',
       'group_photo.photo_id', 'group_photo.photo_link',
       'group_photo.thumb_link', 'group_photo.type', 'id', 'join_mode',
       'lat', 'link', 'lon', 'members', 'name', 'organizer.member_id',
       'organizer.name', 'organizer.photo.base_url',
       'organizer.photo.highres_link', 'organizer.photo.photo_id',
       'organizer.photo.photo_link', 'organizer.photo.thumb_link',
       'organizer.photo.type', 'rating', 'state', 'timezone', 'topics',
       'urlname', 'utc_offset', 'visibility', 'who'], dtype=object)

Groups dataframe consists details on each group:
1. Organizer's details for each group
2. Category for the group
3. City and country

In [50]:
rsvp.columns.values

array(['created', 'event.event_url', 'event.id', 'event.name',
       'event.time', 'group.created', 'group.group_lat',
       'group.group_lon', 'group.id', 'group.join_mode', 'group.urlname',
       'guests', 'member.member_id', 'member.name',
       'member_photo.base_url', 'member_photo.highres_link',
       'member_photo.photo_id', 'member_photo.photo_link',
       'member_photo.thumb_link', 'member_photo.type', 'mtime',
       'response', 'rsvp_id', 'tallies.maybe', 'tallies.no',
       'tallies.waitlist', 'tallies.yes', 'venue.address_1',
       'venue.address_2', 'venue.city', 'venue.country', 'venue.id',
       'venue.lat', 'venue.localized_country_name', 'venue.lon',
       'venue.name', 'venue.phone', 'venue.repinned', 'venue.state',
       'venue.zip'], dtype=object)

Rsvp dataframe consists details on which event from a group a particular member rsvp'ed to.

In [0]:
members = members[['group_id','id','name','topics','city']]
groups = groups[['category.id','description','id','members','name','rating','topics']]
events = events[['group.id','group.name','venue.city','id']]
rsvp = rsvp[['event.id','group.id','member.member_id','response','rsvp_id','venue.city']]

In [52]:
members.head()

   group_id  ...         city
0     10023  ...       Austin
1     10023  ...       Denver
2     10023  ...       Austin
3     10023  ...     New York
4     10023  ...  Cedar Creek

[5 rows x 5 columns]

In [53]:
groups.head()

   category.id  ...                                             topics
0            1  ...  [{'urlkey': 'classics', 'name': 'Classic Books...
1            1  ...  [{'urlkey': 'cartoonists', 'name': 'Cartoonist...
2            1  ...  [{'urlkey': 'artistsway', 'name': "The Artist'...
3            1  ...  [{'urlkey': 'musicians', 'name': 'Musicians', ...
4            1  ...  [{'urlkey': 'urbanexplor', 'name': 'Urban Expl...

[5 rows x 7 columns]

Creating a single table with group id, member id and the rsvp count of a member to that group

In [54]:
#Data Preprocessing
main_data = pd.merge(rsvp, events, left_on= 'event.id', right_on='id', how='inner')
temp_data = main_data[['event.id', 'member.member_id', 'group.id_x', 'group.name']] 
main_data_2 = temp_data.groupby(['group.id_x','member.member_id']).size().reset_index()
main_data_2.columns = ['group_id', 'member_id','rsvp_sum']
main_data_2.head()

   group_id  member_id  rsvp_sum
0     10023    6682417         1
1     10023   13480894         1
2     10023  155423252         3
3     10023  161784042         1
4     10023  201386263         1

In [121]:
main_data_2=(main_data_2[main_data_2['rsvp_sum']>2])
len(main_data_2)

1469

Filtering out users who have atleast rsvp'ed for more than 2 events in a group

In [0]:
#standardizing to 1 - 10 scale 
main_data_2['rsvp_total'] = 1 + (main_data_2['rsvp_sum']-main_data_2['rsvp_sum'].min())*(10-1)/(main_data_2['rsvp_sum'].max()\
                                                                                                -main_data_2['rsvp_sum'].min())

In [71]:
len(main_data_2)

1469

In [0]:
main_data_2.sort_values(by='rsvp_total',ascending=False)
data=main_data_2[['group_id','member_id','rsvp_total']]

In [0]:
data = main_data_2.dropna()
data = data.copy()

# Converting the numbers to categories to be used for creating the categorical codes to avoid using long hash keys 
data['member_id'] = data['member_id'].astype('category')
data['group_id'] = data['group_id'].astype('category')

#cat.codes creates a categorical id for the users and groups
data['user_id'] = data['member_id'].cat.codes
data['grp_id'] = data['group_id'].cat.codes

In [0]:
users=data[['user_id','grp_id','rsvp_total']]

Users dataframe which has the user id, group id and normalized rsvp sum. This will be used primarily in order to perform collaborative filtering.

In [75]:
users.head()

    user_id  grp_id  rsvp_total
2       709       0    1.000000
5      1098       0    1.060134
6      1099       0    1.013363
9         7       1    1.060134
11        3       2    1.060134

In [0]:
#Create list of groups for each user
users_groups=users.groupby('user_id')['grp_id'].apply(list)
users_groupslist=users_groups.to_list()

In [0]:
#Finding cosine similarity between two vectors
def dot(v,w):
    """ v_1*w_1 + ... v_n*w_n"""
    return sum(v_i *w_i
              for v_i,w_i in zip(v,w))
def cosine_similarity(v, w):
    return dot(v, w) / math.sqrt(dot(v, v) * dot(w, w))

In [78]:
#Creating user-rsvp matrix for all groups
users_df = pd.pivot_table(users, index='user_id', columns='grp_id', values='rsvp_total')
users_df.fillna(0,inplace=True)
users_df=pd.DataFrame(users_df)
users_df.shape

(1300, 562)

In [0]:
#Converting dataframe to list of lists
users_df = users_df.rename_axis(None, axis=1)
users_list=users_df.values.tolist()

In [0]:
#Finding cosine similarity between users
import math
user_similarities = [[cosine_similarity(group_vector_i, group_vector_j)
                      for group_vector_j in users_list]
                     for group_vector_i in users_list]

In [81]:
len(user_similarities)

1300

In [0]:
#Finding most similar users
def most_similar_users_to(user_id):
    pairs = [(other_user_id, similarity)              
             for other_user_id, similarity in         
                enumerate(user_similarities[user_id]) 
             if user_id != other_user_id and similarity > 0]

    return sorted(pairs,                              
                  key=lambda pair: pair[1],           
                  reverse=True)

In [87]:
most_similar_users_to(40)

[(12, 1.0), (209, 1.0), (475, 1.0)]

In [0]:
#Finding group suggestions based on similar users
from collections import defaultdict, Counter
def user_based_suggestions(user_id, include_current_groups=True):
    suggestions = defaultdict(float)
    for other_user_id, similarity in most_similar_users_to(user_id):
        for groups in users_groupslist[other_user_id]:
            suggestions[groups] += similarity

    suggestions = sorted(suggestions.items(),
                         key=lambda pair: pair[1],
                         reverse=True)
    
    if include_current_groups:
        return suggestions
    else:
        return [(suggestion, weight)
                for suggestion, weight in suggestions
                    if suggestion not in users_groupslist[user_id]]

In [115]:
#Finding Recommendations for user id 40
top_tuple=user_based_suggestions(100)[0:5]
top_list=[x[0] for x in top_tuple]
top_groups=data[data['grp_id'].isin(top_list)]['group_id'].unique()
top_groupnames=events[events['group.id'].isin(top_groups)]['group.name']
top_groupnames=top_groupnames.unique()
print("Recommendations based on user based collaborative filtering:")
for i in range(len(top_groupnames)):
    print(top_groupnames[i])

Recommendations based on user based collaborative filtering:
Austin Dance Lessons and Social Events
Austin Dance Social Meetup
Austin Salsa Bachata Dance and Social Events
Austin Swing Dance and Social Events
Austin Country Dance and Social Events

Item based collaborative filtering

In [0]:
#Creating group-rsvp matrix for all users
groups_list_new=[]
groups_df = pd.pivot_table(users, index='grp_id', columns='user_id', values='rsvp_total')
groups_df.fillna(0,inplace=True)
groups_df=pd.DataFrame(groups_df)
groups_df = groups_df.rename_axis(None, axis=1)
groups_list=groups_df.values.tolist()

In [0]:
#Creating complete list of unique groups across all users
flat_list = [item for sublist in users_groupslist for item in sublist]
list_set = set(flat_list) 
unique_list = (list(list_set))

In [0]:
import math
#Finding cosine similarity between movies
group_similarities = [[cosine_similarity(user_vector_i, user_vector_j)
                          for user_vector_j in groups_list]
                          for user_vector_i in groups_list]

In [0]:
#Finding most similar groups
def most_similar_groups_to(group_id):
    similarities = group_similarities[group_id]
    pairs = [(unique_list[other_group_id], similarity)
             for other_group_id, similarity in enumerate(similarities)
             if group_id != other_group_id and similarity > 0]
    return sorted(pairs,
                  key=lambda pair: pair[1],
                  reverse=True)

In [0]:
#Finding group suggestions
from collections import defaultdict, Counter
def group_based_suggestions(user_id, include_current_groups=True):
    suggestions = defaultdict(float)
    user_vector=users_list[user_id]
    for group_id, rsvp_count in enumerate(user_vector):
        if rsvp_count!=0:
            similar_groups=most_similar_groups_to(group_id)
            for groups,similarity in similar_groups:
                suggestions[groups] += similarity

    suggestions = sorted(suggestions.items(),
                         key=lambda pair: pair[1],
                         reverse=True)
    
    if include_current_groups:
        return suggestions
    else:
        return [(suggestion, weight)
                for suggestion, weight in suggestions
                    if suggestion not in users_groupslist[user_id]]

In [113]:
#Finding top 5 group names for user id 40
top_tuple=group_based_suggestions(100)[0:5]
top_list=[x[0] for x in top_tuple]
top_groups=data[data['grp_id'].isin(top_list)]['group_id'].unique()
top_groupnames=events[events['group.id'].isin(top_groups)]['group.name']
top_groupnames=top_groupnames.unique()
print("Recommendations based on item based collaborative filtering:")
for i in range(len(top_groupnames)):
    print(top_groupnames[i])

Recommendations based on item based collaborative filtering:
Austin Dance Social Meetup
Austin Salsa Bachata Dance and Social Events
Austin Argentine Tango and Social Events
Austin Swing Dance and Social Events
Austin Country Dance and Social Events